#!/usr/bin/env bash

# This file is gitignored
# IMPORTANT!! don't check in the real tokens
export SLACK_BDD_API_TOKEN=
export ROBBINS_BOT_TOKEN=
export DAVE_BOT_TOKEN=
export FENDY_BOT_TOKEN=
# IMPORTANT!! don't check in the real tokens
